.home{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

h1 {
    font-weight: 600;
    font-size: 4em;
    height: 1rem;
    width: 50%;
    text-align: right;
    background-color: red;
    background-image: linear-gradient(27deg, #743ad5, #3aa6d5);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.logo{
    width: 3em;
}

.big-logo{
    max-width: 50%;
    max-height: 80%;
    padding: 50px;
}