.mint-page{
    padding: 20px;
    width: 80%;
    margin: auto;
}

h1{
    font-weight: 600;
    font-size: 2.5em;
}

.nft-info{
    background-color: rgb(30, 30, 30);
    border: 0px solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0px;
}

.nfts{
    background-color: rgb(30, 30, 30);
    border: 0px solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.nft-container{
    max-width: 29%;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;

    background-image: linear-gradient(27deg, #743ad5, #3aa6d5);
}

.nft-container img{
    max-width: -webkit-fill-available;
    border-radius: 20px;
}

.nft-inner-content{
    background-color: rgba(35, 35, 35, 0.9);
    margin-top: 15px;
    padding: 15px;
    word-wrap: break-word;
    border-radius: 20px;
}