@import url('https://fonts.googleapis.com/css?family=Inter:wght@200;400;800&display=swap');

:root {
  --wallet-color: #ff8d02;
}

* {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  background-color: rgb(30, 30, 30);
  font-family: 'Inter', sans-serif;
}

nav{
  padding: 20px;
  display: flex;
  align-items: center;
}

.left-side{
  flex:20%;
}

a{
  text-decoration: none;
}

.right-side{
  flex:80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.connect-wallet{
  padding: 1em;
  background-color: var(--wallet-color);
  border: 0px;
  border-radius: 10px;
  font-weight: 400;
  max-width: fit-content;
  cursor: pointer;
}

body{
  background: rgb(255,141,2);
  background: linear-gradient(27deg, rgba(255,141,2,1) 0%, rgba(255,141,2,1) 28%, rgba(0,212,255,1) 100%);
}