@import url('https://fonts.googleapis.com/css?family=Inter:wght@200;400;800&display=swap');

:root {
  --wallet-color: #5B7ACD;
}

* {
  margin: 0;
  padding: 0;
  color: #f1f1f1;
  font-family: 'Inter', sans-serif;
}

body{
  background-color: rgb(35, 35, 35);

}

nav{
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(30, 30, 30);

}

.link {
  background-image: linear-gradient(27deg, #743ad5, #3aa6d5);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.left-side{
  flex:20%;
}

a{
  text-decoration: none;
}

.right-side{
  flex:80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.connect-wallet{
  padding: 1em;
  background-color: var(--wallet-color);
  border: 0px;
  border-radius: 10px;
  font-weight: 400;
  max-width: fit-content;
  cursor: pointer;
  background-image: linear-gradient(27deg, #743ad5, #3aa6d5);

}

.border-gradient {
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(27deg, #743ad5, #3aa6d5);
}